header
    img(src="image/pillar-logo.svg").logo.pull-left
    div.pull-right
        a(href="#").menu-item.green.selected About
        a(href="#").menu-item.orange Work
        a(href="#").menu-item.blue Careers
        a(href="#").menu-item.red Events
        a(href="#").menu-item.orange Contact