header
    img(src="image/pillar-logo.svg").logo.pull-left
    div.pull-right
        a.menu-item.green About
        a.menu-item.orange Work
        a.menu-item.blue Careers
        a.menu-item.red Events
        a.menu-item.green Contact