doctype html
html
head
    title Pillar Technology
    link(href="style.min.css", rel="stylesheet")

body
    div.container
        div.row
            div.col-sm-12
            include templates/header
            include templates/footer