doctype html
html
head
    title My Site
    link(href="style.min.css", rel="stylesheet" type="text/css")

body
    div.container
        div.row
            div.col-sm-12
            include templates/header
            include templates/footer